spring:
  datasource:
    url: <DB_URL>
    username: <DB_USERNAME>
    password: <DB_PASSWORD>

server:
  ssl:
    key-store: <ssl key 경로>
    key-store-type: <ssl key 타입>
    key-store-password: <ssl key 비밀번호>