<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> 1일 1백준 </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container mt-5">
    <div style="display: flex; justify-content: space-between">
        <span class="fs-1 mb-4"> 1일 1백준 로그 </span>
        <a class="fs-3 text-decoration-none" th:href="@{/}"> 뒤로가기 </a>
    </div>
    <div class="text-center">
        <a class="fs-1 text-decoration-none" th:href="@{''(yearMonth = ${prevYearMonth})}"> ◁ </a>
        <span class="fs-1 mx-4"
              th:text="${yearMonth}"> 날짜 </span>
        <a class="fs-1 text-decoration-none"
           th:href="@{''(yearMonth = ${nextYearMonth})}"
           th:if="${nextYearMonth}"> ▷ </a>
        <a class="fs-1 text-decoration-none" th:unless="${nextYearMonth}" style="visibility: hidden"> ▷ </a>
    </div>

    <div class="text-center">
        <table class="table table-striped fs-3" >
            <thead>
            <tr>
                <th scope="col"> 이름 </th>
                <th scope="col"> 벌금 </th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="ele : ${fines}">
                <tr>
                    <td th:text="${ele.key}"> 이름 </td>
                    <td th:text="${ele.value}"> 벌금 </td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>