<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> 1일 1백준 </title>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="mb-4"> 1일 1백준 로그 </h1>
		<div class="text-center">
			<a class="fs-1 text-decoration-none" th:href="@{''(date = ${prevDate})}"> ◁ </a>
			<span class="fs-1 mx-4"
				  th:text="${#temporals.format(curDate, 'yyyy-MM-dd(E)')}"
				  th:if="${#temporals.dayOfWeek(curDate) == 6}"
				  style="color: blue"> 날짜 </span>
			<span class="fs-1 mx-4"
				  th:text="${#temporals.format(curDate, 'yyyy-MM-dd(E)')}"
				  th:if="${#temporals.dayOfWeek(curDate) == 7}"
				  style="color: red"> 날짜 </span>
			<span class="fs-1 mx-4"
				  th:text="${#temporals.format(curDate, 'yyyy-MM-dd(E)')}"
				  th:if="${#temporals.dayOfWeek(curDate) < 6}"> 날짜 </span>
			<a class="fs-1 text-decoration-none" 
			   th:href="@{''(date = ${nextDate})}"
			   th:if="${nextDate}"> ▷ </a>
			<a class="fs-1 text-decoration-none" th:unless="${nextDate}" style="visibility: hidden"> ▷ </a>
		</div>
		<div class="text-center">
			<table class="table table-striped fs-3" >
				<thead>
				<tr>
					<th scope="col"> 이름 </th>
					<th scope="col"> 커밋 했어? </th>
					<th scope="col"> 커밋 개수 </th>
				</tr>
				</thead>
				<tbody>
				
				<th:block th:each="ele : ${userCommits}">
					<tr>
						<td> 
							<a class="text-decoration-none" 
							   th:text="${ele.key}" 
							   th:href="@{/user/{userId}(userId = ${ele.key})}"></a> 
						</td>
						<td th:if="${#lists.size(ele.value) == 0}"> &#10060; </td>
						<td th:if="${#lists.size(ele.value) > 0}"> &#9989; </td>
						<td th:text="${#lists.size(ele.value)}"> 개수 </td>
					</tr>
				</th:block>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>